
# eclipse
# fabric
# gradle
# idea
# other
*.iml
*.ipr
*.iws
*.launch
.classpath
.gradle
.idea
.metadata
.project
.settings
/src/generated/resources/.cache/
bin
build
eclipse
out
remappedSrc
repo
run
run-data
runs
